<p>
  <div class="form-group">
    <%= f.label :score, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-2">
      <%= f.number_field :score, :class => 'form-control' %>
    </div>
    <%= f.link_to_remove "x", :class => 'close' %>
  </div>
</p>
